<!-- SYNTAX TEST "DotNetConfig.sublime-syntax" -->
<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<!--                 ^^^ meta.tag.xml entity.other.attribute-name.localname.xml -->
  <connectionStrings>
    <add name="Example" 
         connectionString="Data Source=server;Initial Catalog=database;User ID=username;Password=password;MultipleActiveResultSets=True" 
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.xml -->
<!--     ^^^ entity.other.attribute-name.namespace.xml -->
<!--        ^ entity.other.attribute-name.xml punctuation.separator.namespace.xml -->
<!--         ^^^^^^^ entity.other.attribute-name.localname.xml -->
<!--                ^ punctuation.separator.key-value.xml -->
<!--                 ^^^^^^^^^^^^^ string.quoted.double.xml -->
<!--                  ^^^^^^^^^^^ meta.xpath.locator.xdt -->
<!--                              ^ - string - meta.xpath.locator.xdt -->
<!--                  ^^^^^ variable.function.xpath -->
<!--                        ^^^^ variable.parameter.xpath -->
    <add name="AWLT" connectionString="newstring"
       providerName="newprovider"
       xdt:Transform="Replace" xdt:Locator="Condition(@name='oldname' or @providerName='oldprovider')" />
<!--                  ^^^^^^^ meta.tag.xml string.quoted.double.xml meta.xpath.transform.xdt support.function.xdt -->
<!--                         ^ meta.tag.xml string.quoted.double.xml meta.xpath.transform.xdt punctuation.definition.string.end.xml -->
<!--                                        ^^^^^^^^^ meta.tag.xml string.quoted.double.xml meta.xpath.locator.xdt meta.function-call.xpath variable.function.xpath -->
<!--                                                       ^ keyword.operator.xpath -->
<!--                                                        ^^^^^^^^^ string.quoted.single.xpath -->
<!--                                                                                                 ^ meta.tag.xml string.quoted.double.xml meta.xpath.locator.xdt punctuation.definition.string.end.xml -->
    <add name="AWLT" connectionString="newstring"
         providerName="newprovider"
         xdt:Transform="Remove" xdt:Locator="XPath(configuration/connectionStrings[@name='AWLT' or @providerName='System.Data.SqlClient'])" />
<!--         ^^^^^^^^^ entity.other.attribute-name.localname.xml -->
<!--                  ^ punctuation.separator.key-value.xml -->
<!--                   ^^^^^^^^ string.quoted.double.xml meta.xpath.transform.xdt -->
<!--                    ^^^^^^ support.function.xdt -->
<!--                                                            ^ punctuation.accessor.location_step.xpath -->
<!--                                                                                                                                        ^^ meta.tag.xml punctuation.definition.tag.end.xml -->

  </connectionStrings>
  <authorization>
    <allow roles="Admins"
      xdt:Transform="InsertBefore(/configuration/system.web/authorization/deny[@users='*'])" />
<!--                 ^^^^^^^^^^^^ variable.function.xpath -->
<!--                                                                          ^ meta.tag.xml string.quoted.double.xml meta.xpath.transform.xdt meta.function-call.xpath meta.predicate.xpath punctuation.section.arguments.begin.xpath.predicate -->
  </authorization>
  <compilation xdt:Transform="RemoveAttributes(debug,batch)">
<!--                          ^^^^^^^^^^^^^^^^ variable.function.xpath -->
<!--                                           ^^^^^ variable.parameter.xpath -->
<!--                                                ^ punctuation.separator.arguments.xpath -->
<!--                                                 ^^^^^ variable.parameter.xpath -->
  </compilation>
</configuration>
